
body {
  margin: 0;
  background: #222
  font-family: 'Work Sans', sans serif;
  font-weight: 300;
}

.container {
  width: 80%
  margin: 0 auto;
}

header {
  background: #ffffff;
  border-bottom: solid 1px;
  border-color: #cccccc;
  position: fixed;
  width: 100%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 80px;
  padding-top: 23px;
}

.name {
  margin-left: 220px;
  background-color: #4aaaa5;
  width: 234px;
  text-align: center;
  height: 40px;
  padding-top: 20px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

nav {
  width: 723px;
  margin-top: 5px;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.about {
  padding-right: 10px;
  margin: 10px;
  color: white;
  border-right: solid;
  border-color: #cccccc;
  border-width: 1px;
  height: 5px;
  text-decoration: none;
  color: #cccccc;
}

.portfolio {
  padding-right: 10px;
  margin: 10px;
  color: white;
  border-right: solid;
  border-color: #cccccc;
  border-width: 1px;
  height: 5px;
  text-decoration: none;
  color: #cccccc;
}

.contact {
  padding-right: 10px;
  margin: 10px;
  color: white;
  border-right: solid;
  border-color: #cccccc;
  border-width: 1px;
  height: 5px;
  text-decoration: none;
  color: #cccccc;
}

.container2 {
  background-color:white;
  width: 1200px;
  height: 400px;
  margin-top: 5%;
  margin-left: 8%;
  border: solid #cccccc 1px;
}

.aboutme {
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding-bottom: 5px;
  margin-left: 10%;
  width: 1000px;
  border-bottom: solid #cccccc 1px;

}

h1 {
  color: #4aaaa5;
}
.pic {
  float:left;
  margin-left: 100px;
}

.text {
  max-width: 800px;
  margin-left: 350px;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 3em;
  text-indent: 50px;
}

.footer {
  width: 100%;
  height: 30px;
  position: fixed;
  bottom: 0%;
  text-align: center;
  color: white;
  background-color: gray;
  padding-top: 30px;
  border-top: solid #4aaaa5 10px;
}
